<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <!-- TODO: thymeleaf 사용-->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="" method="post">
      <input type="text" name="num1" id="num1" size="5" />
      +
      <input type="text" name="num2" id="num2" size="5" />
      <button>계산</button>
    </form>
    <!-- TODO: thymeleaf 사용 : controller 에서 model.addAttrubut 해놓은 값 가져오기-->
    <h3 th:text="${result}">계산결과 :</h3>
    <!-- 계산결과 : 텍스트 밀어내고 th:text="${result}" 값이 들어온다-->
  </body>
</html>
